@font-face {
  font-family: 'Ecentric';
  src: url(Ecentric-DEMO.woff);
}


@keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }

  @keyframes fadein {
    0% { opacity: 0; } 
    100% { opacity: 1;}
  }


body {
font-size: 1.125rem;
line-height: 1.33;
height: 100vh;
width: 100vw;
background-color:#6E97CE;
position: relative;
overflow: hidden;
}

header {
display: flex;
align-items: flex-end;
height: 100%;
}


.background {
    width:100%;
    overflow: hidden;
}


.buttons {
position:absolute;
width: 420px;
display: flex;
flex-direction: column;
height:100%;
justify-content:center;
gap: 35px;
margin-left: 163px;
margin-bottom: 2em;
animation: fadein 1s 0.25s both;
}

div.title,
div.intro {
position: relative;
}

div.intro {
    width: 270px;
}

h1, .text {
position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
}

.arrow{
position: absolute;
right: 50px;
display: flex;
justify-content: center;
align-items: center;
gap:0.5rem;
}

.arrow svg {
  transform:rotate(180deg);
  transition: transform 0.5s ease-in-out;
}

.arrow.rotate svg {
  transform:rotate(0deg);
}

h1 {
font-family: 'Ecentric', serif;
font-size: 70px;
line-height: 60px;
text-align: center;
color:#498822;
letter-spacing: -0.05rem;
top: 0.2em;
}

.text {
    bottom: 2em;
}

p {
    font-family: 'SavateRegular';
    color:#498822;
    font-size: 52px;
    line-height: 95%;
    font-weight: 400;
    letter-spacing: -0.065em;
    text-align: left;
    text-transform: capitalize;
    padding:30px;
}

.city {
    font-size: 32px;
    padding-top: 10px;
}

a {
    margin-top: 10px;
    text-decoration: none;
    color:#F22A29;
    position: relative;
    letter-spacing: -0.065em;
    font-size: 28px;
}

a:hover {
    color:#F22A29;
}

a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFDB54;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  a:hover::before {
    transform: scaleX(1);
  }

.info-box{
  background-color: #F22A29;
  font-size: 1.8vw;
  height: 100vh;
  padding: 0px 23px 53px;
  position: fixed;
  top: 0;
  right: 0;
  transition: transform .75s ease;
  transform: translateX(200%);
  width: 30%;
  z-index: 1;
  border-left: 2px solid black;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  overflow: hidden;
}

.info-box-top{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.label {
    background-color: #FFDB54;
    font-family: 'SavateRegular';
    letter-spacing: -0.065em;
    color:#F22A29;
    font-size:18px;
    padding: 8px 16px;
    border: 2px solid #000;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    display: none;
}

.about{
  font-family: 'SavateRegular';
  font-size: 2.5vw;
  font-weight: 400;
  letter-spacing: -0.065em;
}

div.label.is-visible{
    display: block;
}

div.reveal, div.cta {
  position: absolute;
  z-index: 10;
}

.cta{
  font-size: 2vw;
  left: 30px;
  top: 30px;
  width: 30vw;
 }

.reveal {
 font-size: 4vw;
 right: 30px;
 top: 30px;
 transition: margin-right .75s ease;
 cursor: pointer;
 display:flex;
}

.open {
  overflow: scroll;
  transition: transform .75s ease;
  transform: translateX(0);
 }
 
 .moving {
     margin-right: 30%;
     transition: margin-right .75s ease;
 }

 .info-box-title{
    font-size: 2.5vw;
    font-weight: 400;
    letter-spacing: -0.065em;
    text-align: left;
    text-transform: capitalize;
    padding: 30px;
    padding-bottom: 0;
    font-family: 'SavateRegular';
    color:#ffffff;
 }

 .text-box {
  background-color:#D9D9D9;
  padding:30px;
  border:2px solid black;
  border-radius: 6px;
 }

 .text-box p {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 1.325rem;
  line-height: 1.33;
  text-transform: none;
  padding:0;
 }
 .text-box p:last-child{
  padding-top:0.75rem;
 }

 .info-box-text-box{
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
 }

 .info-box-cta{
  background-color:#498822;
  border-radius: 6px;
  padding: 22px;
  border: 2px solid #000;
  font-family: 'SavateRegular';
  font-weight: 400;
  letter-spacing: -0.065em;
  font-size: 28px;
  line-height: 120%;
  text-transform: capitalize;
  letter-spacing: -0.065em;
  text-align: center;
  cursor: pointer;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  -o-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
 }

 .info-box-cta a{
  color: #FFDB54;
 }

 .contact-bird{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

@media (min-width: 768px) {
  div.title,
  div.intro {
  position: relative;
  animation: MoveUpDown 4s linear infinite;
  }
}

  @media only screen and (max-width:1024) {
      svg {
        width: 120%;
        margin-left: -10%;
      }
  }

@media only screen and (max-width: 600px) {
    header {
        justify-content: center;
    }
    h1 {
      font-size: 45px;
      line-height: 39px;
    }

    p {
        font-size: 35px;
        padding:10px;
    }
    .city {
        font-size: 20px;
    }

    .buttons {
        width: 200px;
        margin-left: unset;
        margin-bottom: 6em;
        gap: 30px;
    }

    .button1 {
      width: 200px;
    }

    div.intro {
        width: 200px;
    }
    svg {
        width: 200%;
        margin-left: -60%;
      }
      .info-box{
        width: 100%;
        border-left: none;
        overflow: hidden;
      }
      .info-box-title,
      .about {
        font-size: 10.5vw;
      }
      .info-box-title {
        padding: 20px;
      }

      .contact-bird svg {
        width: 100%;
        margin-left: 0%;
      }
  }