@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,700&display=swap');

@font-face {
    font-family:'Savate', sans-serif ;
    src: url("savate-regular-webfont.ttf");
}


@keyframes birdbody {
    0% {fill: rgba(255,194,255,0.9);}
    25% {fill: #6E97CE;}
    50% {fill: #498822;}
    75% {fill:  #ff6f00}
    100%{fill: rgba(255,117,255,0.9)}
  }


@keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }

  @keyframes fadein {
    0% { opacity: 0; } 
    100% { opacity: 1;}
  }


body {
font-size: 16px;
line-height: 1.5;
height: 100vh;
width: 100vw;
background-color:#6E97CE;
position: relative;
overflow: hidden;
}

header {
display: flex;
align-items: flex-end;
height: 100%;
}


.background {
    width:100%;
    overflow: hidden;
}


.buttons {
position:absolute;
width: 420px;
display: flex;
flex-direction: column;
height:100%;
justify-content:center;
gap: 35px;
margin-left: 163px;
margin-bottom: 2em;
animation: fadein 1s 0.25s both;
}

div.title,
div.intro {
position: relative;
animation: MoveUpDown 4s linear infinite;
}

div.intro {
    width: 270px;
}

h1, .text {
position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
}

h1 {
font-family: 'Fraunces', serif;
letter-spacing: -0.065em;
font-size: 48px;
line-height: 100%;
text-align: center;
color:#498822;
top: 0.2em;
}

.text {
    bottom: 2em;
}

p {
    font-family:'Savate', sans-serif ;
    color:#498822;
    font-size: 52px;
    line-height: 95%;
    font-family: Savate;
    font-weight: 400;
    letter-spacing: -0.065em;
    text-align: left;
    text-transform: capitalize;
    padding:30px;
}

.city {
    font-size: 32px;
    padding-top: 10px;
}

a {
    margin-top: 10px;
    text-decoration: none;
    color:#F22A29;
    position: relative;
    letter-spacing: -0.065em;
    font-size: 28px;
}

a:hover {
    color:#F22A29;
}

a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F22A29;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  a:hover::before {
    transform: scaleX(1);
  }


.label {
    background-color: #FFDB54;
    font-family: 'Savate';
    letter-spacing: -0.065em;
    color:#F22A29;
    font-size:18px;
    padding: 8px 16px;
    border: 2px solid #000;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    display: none;
}

div.label.is-visible{
    display: block;
}

 path#birdbody {
    transition: all 0.5s ease-in-out;
 }
 path#birdbody:hover{
    animation: birdbody 3s infinite;
 }


  @media only screen and (max-width:1024) {
      svg {
        width: 120%;
        margin-left: -10%;
      }
  }

  @media only screen and (max-width: 600px) {
    header {
        justify-content: center;
    }
    h1 {
        font-size: 32px;
    }

    p {
        font-size: 50px;
        padding:20px;
    }

    .buttons {
        width: 250px;
        margin-left: unset;
        margin-bottom: 6em;
        gap: 30px;
    }

    div.intro {
        width: 250px;
    }
    svg {
        width: 200%;
        margin-left: -60%;
      }
  }